<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>   
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>ER2XML Schema Generator Powered by Django</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    
    <body>    	
    	<section id="page">
            <header>
                <hgroup>
                    <h1>ER2XML Editor</h1>
                    <h3>by Team 19</h3>
                </hgroup>                               
                <nav class="clear">
                    <ul>
                        <li><a href="{% url 'upload_model' %}">Upload Model</a></li>
                        <li><a href="{% url 'model_list' %}">Type Management</a></li>
                    </ul>
                </nav>
            </header>

            <section id="articles">
                <div class="line"></div>
                {% block content %}
                {% endblock %}  
            </section>

        <footer>
           <div class="line"></div>
           <p>Copyright 2017 - WANG Hancheng</p>
        </footer>
		
        </section>
    </body>
</html>
