{% extends 'ER2XML/base.html' %}
{% load custom_template_tag %}
{% block content %}
	<article>
		<form action='{% url "schema_save" pk=pk%}' method="POST" class="form-inline">{% csrf_token %}
            {% for key, value in forms.items %}
	            <b>{{ key }}<b><p/>
	            {% for form in value %}
		            <div class="form-group" name="{{ key }}{{ form.instance.name }}" >
		            	{{ form.errors }}
		            	{{ form.label_tag }}
		            	{{ form.as_table }}
		            </div>
	            {% endfor %}
	            {% get_item candikeys key as keys %}
	            {% if keys %}
		            <label>PK</label>
	                <select name="primarykey">
	                    {%for item in keys %}
	                    	<option value={{item.pk}}>{{item.colNames}}</option>
	                    {% endfor %}
	                </select>
                {% endif %}
	            {% get_item fts key as ts %}
	            {% if ts %}
	            	<p>Referenced Elements: 
                    {%for item in ts %}
                    	{{item}}
                    {% endfor %}
                    </p>
				{% endif %}
                <div class="line"></div>
			{% endfor %}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </article>
{% endblock %}